@media screen and (max-width: 480px) {

    nav{
        flex-direction: column;

        .manu{
            flex-direction: column;
            align-items: start;
            gap: 3rem;

            li{
                text-align: center !important;
                /* padding: 2rem 0; */
            }
        }
    }


    
    .home{
        flex-direction: column;
        margin: 0;
        display: flex;
        align-items: center; 
        justify-content: center;
        text-align: center;


        img{
            width: 70%;
        }

        .home-content{

            .about-me{
                font-size: 3rem !important;
                margin-top: 10rem;

            }
        }

        .text-intro{
            font-size: 2rem !important;
            text-align: center;
        }

        .text-name{
            font-size: 2rem !important;
        }

        .text-col-p{
            max-width: 80%;
            text-align: center !important;
            margin: 1rem auto;
            text-align: inherit !important;
        }
    }

    #toggleBtn {
        display: block;
        margin: 2rem auto;
        padding: 0.5rem 1rem;
        background-color: whitesmoke;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        color:darkblue;
    }

    .text-icon {
        display: flex;
        flex-direction: column; /* จัดเรียงแนวตั้ง */
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        font-size: 2rem;
        text-align: center;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 0;
        margin: 1rem auto 0;
        list-style: none;
    }

    .icon-container .icon img {
        width: 3rem;
        height: auto;
    }

    .contact{
        display: flex;
        text-align: center;

        .text-contact{
            display: none;
        }

        .icon-group{
            display: flex;              /* ต้องใช้ */
            justify-content: center;   /* ให้ลูกๆ อยู่ตรงกลางแนวนอน */
            align-items: center;       /* ถ้าต้องการให้จัดกลางแนวตั้ง */
            gap: 2rem;                 /* ระยะห่างระหว่าง icon */
            margin: 0 auto;
            
            a{
                font-size: 2.5rem !important;
            }
        }
    }
}