@media screen and (max-width: 430) {
    *, *::before, *::after {
        box-sizing: border-box;
        /* outline: 1px solid red; */
    }

    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .section-title::after{
        content: "PR9:23 / TUPR:20 / SWU:76";
        font-size: 1.5rem;
        color: white;
        display: flex;
        bottom: 10rem;
        position: relative;
        margin-left: 1rem;
    }

    .logo{
        display: none !important;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2rem;
    }

    nav a {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        margin: 0;    
    }

    .home-img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem ;
        margin-left: 1.5rem !important;
        align-items: center !important;
    }

    .about-me {
        display: flex;
        position: relative;
        font-size: 2.5rem !important;
        margin: 1rem 0;
    }

    .text-name {
        font-size: 2rem !important;
    }

    .text-name span {
        font-size: 2rem;
    }

    .text-col-1,
    .text-col-2,
    .text-col-3{
        text-align: left;
        line-height: 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        font-size: 1.1rem;
        margin-left: 2rem !important;
    }

}